.image-upload-container{
    margin: 26vh auto;
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
}

.image-upload-title {
    padding-bottom: 20px;
}

.image-upload-input {
    padding: 10px 0;
    margin-top: 10px;
    width: 100%;
}

.image-upload-button {
    border: none;
    background-color: rgba(111, 66, 147, 0.9);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 16px;
}