.login-page {
    margin: 20px -5px;
}
.login-background-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.login-background-image {
    object-fit: cover;
    width: 25vw;
    height: 28.5vh;
}

.sign-link {
    padding: 10px;
    color: purple;
}